@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,600&family=Fjalla+One&display=swap');
*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    max-width:1270px;
    padding-inline:15px;
    margin: 0 auto;
}

img{
    max-width: 100%;
}
body{
    font-family: 'Supermercado One', cursive;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Fjalla One', sans-serif;
}     
main{
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(./assets/bar_1.jpeg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;
    width: 100%;
}
.margin{
    margin-block:12px 30px;
}
a{
    text-decoration: none;
        -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
        -ms-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
        -o-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
        transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}
ul{
    list-style: none;
}
section{
    margin-block:90px 0px;
}
.logo img{
    width: 102px;
    height: 102px;
    object-fit: contain;
    object-position: center;
}
.header_wrap{
    display: flex;
    justify-content: space-between;
    padding-block:46px 16px;
}
.menu h5{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    font-size: 36px;
    font-family: 'Supermercado One', cursive;
    margin-block:90px 0px;
}
.menu{
    position: relative;
}
.menu a{
        display: grid;
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        top: -36px;
        right: 25px;
        border: 2px solid #ffffff;
        line-height: 40px;
        padding: 3px;
        place-items: center;
}
.menu a:hover svg path{
    fill: #dcaa25;
}
.menu a svg{
    max-width:14px;
    height:14px;
}
.item_link{
    display: flex;
    align-items: center;
    gap: 20px;
   font-family: 'Fjalla One', sans-serif;
}
.menu_text{
    transition: all 0.5s ease-in-out;
}
.item_link_square{
    display: grid;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    line-height: 40px;
    padding: 3px;
    place-items: center;
    transition: all 0.5s ease-in;
}
.item_link_square svg{
    width: 22px;
    height: 26px;
    
}
.item_link_square:hover{
    background-color: #dcaa25;
    color: #dcaa25;
}
.text_line_menu{
   color: #fff;
   font-size: 18px;
   text-transform: uppercase;
}
nav{
    width: 390px;
    height: 100vh;
    background-color: #242222;
    cursor: pointer;
    display: none;
    position:absolute;
    z-index:100;
    top: 0;
    right: 0;
}
.side_btn{
    transition:0.3s ease-in-out;
}
.open {
    display: block;
}
nav ul{
    display: grid;
    place-items: center;
    color: white;
    margin-block:30px 0px;
}
nav ul li {
    width: 262px;
    padding: 16px 0px;
    border-bottom: 1px solid #1d1b1b;
    text-align: center;
}
nav ul li a{
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
   font-weight: 600;
   font-family: 'Fjalla One', sans-serif;
}
.owl-carousel{
    width: 100%;
    z-index: 0;
}
.best{
    width: 100vw !important;
    height: 100vh;
    text-align: center;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.best h4{
    font-size: 16px;
    text-transform: uppercase;
    margin-block:90px 0px;
}
.best p{
    font-size: 82px;
    line-height: 110%;
    margin-block: 10px 30px;
}
.best button{
    padding: 14px 20px;
    background-color:#dcaa25;
    text-transform: uppercase;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 16px;
    margin-block:50px 0px;
}
.welcome{
    text-align: center;
    display: grid;
    place-items: center;
}
.welcome h6{
    height: 32px;
    background-color: #f3f2ee;
    color: #7f6649;
    text-transform: uppercase;
    padding:6px 16px;
    font-size: 16px;
}
.welcome h2{
    width:65%;
    font-size: 55px;
    color: #333333;
    line-height: 110%;
    font-family: 'Supermercado One', cursive;
}
.welcome p{
    font-size: 18px;
    width: 73%;
    margin-bottom:48px;
    color: #686868;
    font-family: 'Bitter', serif; 
    line-height: 23px;
}
.arrow_section {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 100%;
}
.arrow_section_back{
        background-color: #eceae6!important;
}
.center{
   height: 400px;
   width: 100%;
}
.center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.event{
    background-image:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(./assets/bar_6.jpeg) ;
   background-position: center center;
   background-size: cover;
   background-repeat: no-repeat;
   text-align: center;
   padding-block:90px 0px;
   display:flex;
   flex-direction: column;
   align-items: center;
}
.event h4{
    height: 32px;
    background-color:  #7f6649;
    color: #f3f2ee;
    text-transform: uppercase;
    padding:6px 16px;
    font-size: 16px;
}
.event h2{
    margin-block:12px 70px;
    font-size: 55px;
    color: #ffffff;
    font-family: 'Supermercado One', cursive;
}
.Services{
    width: 100%;
}
.services_text_image {
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
}
.services_card{
    height: 434px;
    position: relative;
    background-color: #fff;
    display: grid;
    place-items: center;
    overflow: hidden;
}
.services_card svg {
    position: absolute;
    min-width: 50%;
    min-height: 50%;
    width: 50%;
    height:50%;
}
.bar_image img{
    width:100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}
.bar_image:hover img{
    transform: scale(1.2);
}
.bar_image::after,
.bar_image::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.bar_image::before{
    bottom: 5%;
    left: 5%;
    border-bottom: 2px solid white;
    border-left:2px solid white;
}
.bar_image::before{
    top: 5%;
    right: 5%;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.bar_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    transition: 0.7s;
} 
.bar_image:hover img{
    transform: scale(1.2);
}
.bar_image:hover:after,
.bar_image:hover:before{
    opacity: 1;
    width: 90%;
    height: 90%;
    background-color: rgba(0,0,0,0.2); 
}
.text{
    font-family: 'Bitter', serif;
    padding: 20px 20px;
   text-align: center;
}
.text h6{
    color: #8a745b;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.text h5{
    font-size: 30px;
    text-transform: capitalize;
    color: #333333;
    margin-block:12px 30px;
    font-family: 'Supermercado One', cursive;
}
.text h5::after {
    content: "";
    position: absolute;
    border: 2px solid #dcaa25;
    width: 20%;
    bottom: 244px;
    left: 40%;
}
.text p{
    color: #686868;
    font-family: 'Bitter', serif;
    line-height: 23px;
}
.text button{
    padding: 14px 20px;
    background-color: rgb(220, 170, 37,0.9);
    font-size: 16px;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-block:30px 0px;
    position: relative;
}
.color_grey{
    background-color:#eceae6;
}
.testimonials_main{
    background-color:#eceae6;
    padding-block:90px !important;   
}
.testimonials{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.testimonials h6{
    background-color: #ffffff;
    color:#7f6649;
    padding: 6px 16px;
    text-transform: uppercase;
    font-size: 16px;
}
.testimonials h2{
        font-size:55px;
        font-family: 'Supermercado One', cursive;
}
.feedback {
    width: 70%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
.feedback_left {
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    padding: 10px 10px;
}
.feedback_left svg{
    width: 30px;
    height:30px;

}
.feedback_text{
    display: flex;
    justify-content: center;
}
.feedback_text p{
    width:100%;
    text-align: center;
    font-size: 18px;
    font-family: 'Bitter', serif; 
    font-style: italic;
    line-height: 25px;
    color: #686868;
}
.packages{
    margin-block:90px;
    flex-direction: column;
    align-items: center;
}
.packages h5{
    padding: 6px 16px;
    text-transform: uppercase;
    color:#7f6649;
    text-align: center;
    background-color: #f3f2ee;
    font-size: 16px;
    margin: 0 auto;
    width: max-content;
 }
 .packages h2{
   font-size: 45px;
   margin-block:12px 70px;
   text-align: center;
   font-family: 'Supermercado One', cursive;
 }
 .packages_price {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}
.price_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
}
.standard{
  width: 100%;
  height: 166px;
  background-image:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(./assets/photo-15.avif);
  background-position: center;
  background-size:cover;
}
.full_service{
    width: 100%;
    height: 166px;
  background-image:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(./assets/bar_3.jpeg);
  background-position: center;
  background-size:cover;
}
.premium{
    width: 100%;
    height: 166px;
  background-image:linear-gradient(to bottom,rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(../assets/bar_3.jpeg);
  background-position: center;
  background-size:cover;
}
.bar_service_imges img:hover{
    transform: scale(1.2);  
}
.price_box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.price_box h6{
    font-size: 16px;
    background-color: #7f6649;
    text-transform: uppercase;
    padding: 6px 16px;
    margin-block:0px 16px;
}
.price_box span{
   font-size: 36px;
}
.color_change{
    width: 100%;
    padding-block: 50px;
      background: #eceae6;
      margin-block:15px 0px;
}
.color_change svg{
    width:20px;
    height:20px;
}
.color_change span {
    color: #333333;
    font-size: 16px;
    border-bottom: 1px solid #e2e1dd;
    padding-block: 18px;
    display: flex;
    gap: 11px;
    align-items: center;
   font-family: 'Fjalla One', sans-serif;
}
.color_change :nth-child(4){
    font-size: 40px;
}
.color_change button{
    border: none;
    padding: 14px 20px;
    margin-block:39px 0px;
    background:#dcaa25;
    color: #ffffff;
    font-size: 15px;
    text-transform: uppercase;
}
.cocktail_back{
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5),rgba(0,0,0,0.3)), url(../assets/bar_6.jpeg);
    background-size: cover;
  }
  .cocktail_main{
    display: flex;
    padding-block:90px;
    flex-direction: column;
    color: #fff;
    align-items: center;
  }
  .cocktail_main h5{
    background: #8a745b;
    text-align: center;
    text-transform: uppercase;
    padding: 6px 16px;
  }
  .cocktail_main h2{
    margin-block:10px 32px;
     font-size: 55px;
     width: 63%;
     text-align: center;
     line-height: 120%;
    font-family: 'Supermercado One', cursive;

  }
  .cocktail_main p{
    font-size: 16px;
    width: 50%;
    text-align: center; 
    font-family: inherit;
  }
  .cocktail_main button{
    border: none;
    background: #dcaa25;
    color: #ffffff;
    padding: 14px 20px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .drinks {
    display: flex;
    gap:25px;
    flex-wrap: wrap;
    justify-content: center;
    margin-block:50px;
}
  .drinks_box{
    width: 175px;
    height: 210px;
    background:white;
    border:inset 1px solid #4b2200;
    padding:18px 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  .drinks_box_border{
    width: 140px;
    height: 170px;
    border: 2px solid #8a745b;
    display: grid;
    place-items: center;
  }
  .drinks_box svg{
    width: 60px;
    height: 60px;
  }
  .drinks_box_border:hover svg Path{
    fill: #dcaa25;
  }
  .drinks_box:hover{
    transform: translateY(-20px);
  }
  .drinks_box:hover a{
    color: #dcaa25;
  }
  .drinks_box a{
    font-size:20px;
    color: #333333;
  }

.articles>h5{
    padding: 6px 16px;
    background-color: #f3f2ee;
    color: #7f6649;
   font-family: 'Fjalla One', sans-serif;
   font-size: 16px;
   margin: 0 auto;
   width: max-content;
}
.articles h2{
    font-size: 38px;
    font-family: 'Supermercado One', cursive;
   text-align: center;

}
.news_image_text{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.news_main {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 30px;
}
.news_image{
    min-height:253px;
    height: 253px;
    position: relative;
    overflow: hidden;
}
.news_image::after,
.news_image::before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.news_image::before{
    bottom: 5%;
    left: 5%;
    border-bottom: 2px solid white;
    border-left:2px solid white;
}
.news_image::before{
    top: 5%;
    right: 5%;
    border-top: 2px solid white;
    border-right: 2px solid white;
}
.news_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-size: cover;
    background-position: center;
    transition: 0.5s;
} 
.news_image:hover img{
    transform: scale(1.2);
}
.news_image:hover:after,
.news_image:hover:before{
    opacity: 1;
    width: 90%;
    height: 90%;
    background-color: rgba(0,0,0,0.3);
}

.news_text{
    margin-block:30px 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.news_text h6{
    font-size: 16px;
    color: #919191;
}
.news_text h5 {
    font-family: 'Supermercado One', cursive;
    font-size: 30px;
    background-color: transparent;
    position: relative;
    margin: 0.4em 0 0 0;
    padding-bottom: 0.88em;
    color: #333333;
}
.news_text h5::before {
    content: "";
    position: absolute;
    border: 2px solid #dcaa25;
    width: 20%;
    top: 85%;
    left: 37%;
}
.news_text p{
    margin-block:20px 0px;
    font-family: 'Fjalla One', sans-serif;
    color: #686868;
    line-height: 130%;
}
.news_text button{
        font-family: "Fjalla One",sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        padding: 1.05em 2.6em;
        border: none;
        background: #dcaa25;
        color: #ffffff;
        margin-block:33px 0px;
}
.contact_main{
    background-color:#eceae6;
    padding: 80px 0px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact h5{
    background-color: #f3f2ee;
    color: #7f6649;
    font-size: 16px;
    padding: 6px 16px;  
}
.contact h2{
    font-size: 45px;
    font-family: 'Supermercado One', cursive;
}
.contact p{
    width: 50%;
    text-align: center;
    font-size: 16px;
    color: #686868;
    margin-block:7px 0px;
    font-family: 'Bitter', serif; 
}
.message_input{
    margin-block:45px 0px;
}
.message_input input{
    padding: 19px 28px;
    border: none;
    outline: none;
    background: #e2e1dd;
    margin-inline:0px 30px;
}
.message_input input:nth-child(4){
    background-color: #dcaa25;
    text-align: center;
   text-transform: uppercase;
}
.message_input input:nth-child(4)::placeholder{
    color: #ffffff;
}
.message_input button{
    padding: 20px 20px;
    border: none;
    outline: none;
    background: #dcaa25;
    color: #ffffff;
    text-transform: uppercase;
}
footer{
    margin-block:90px 0px;
    background: #333333;
    padding: 90px 0px;
}
.footer_main{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.footer_text{
    width: 50%;
    color: #fff;
}
.footer_text h3{
    font-size: 55px;
}
.footer_text h4{
    margin-block: 30px 30px;
}
.footer_text p{
      width: 70%;
        font-size: 16px;
        font-weight: 400;
        line-height: 27px;
        margin-bottom: 40px;
}
.footer_nav{
    display: flex;
    justify-content: space-between;
    border-top:2px solid #fff;
    width: 100%;
    padding: 10px;
}
.footer_nav ul h3{
    color: #ffffff;
    font-size: 30px;
}
.footer_nav ul li a{
    color: #fff;
    font-size: 22px;
    text-transform: capitalize;
}
.quality_center{
    display: flex;
    margin-block:10px 10px;
    gap: 20px;
}
.quality_center span {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px 0px;
    transition:all 0.5s;
    border-radius: 50%;
}
.quality_center span svg{
    width: 17px;
    height: 17px;
}
.quality_center span:hover{
    background-color: #dcaa25;
    border: 1px solid transparent;
}
.quality_center span:hover svg path{
    fill: white;
    transition:all 0.5s;
    
}
.top{
    position:relative
}
.top span a svg{
    width: 50px;
    height: 50px;
    position: absolute;
    top:12px;
    right:-10px;
    transition: 0.5s ease-in-out;
}

.form {
    width: min(500px,90vw);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.form * {
    width: 100%;
    padding: 1rem;
    font: 900 0.85rem futura,sans-serif;
    text-transform: uppercase;
    background-color: rgba(255,255,255,0.75);
    border: none;
    outline: 0;
}
::placeholder { color: #919191; }
input:focus, textarea:focus { background-color: rgba(255,255,255,0.5); }
.form-name {
    display: flex;
    gap: 1rem;
    padding: 0;
    background-color: transparent;
}
.form-comment {
    height: 13rem;
    resize: none;
}
.form-submit {
    color: #fff;
    background-color: #dcaa25;
    pointer-events: none;
    cursor: pointer;
}
.form-submit:active {
    background-color: rgba(255,255,255,0.95);
    color: var(--placeholder);
}
.enable {
    pointer-events: auto;
    color: var(--text);
}   
.nav-fixed {
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: #242222;
}
.nav-fixed .header_wrap {
    padding-block: 10px;
}
.nav-fixed .logo img {
    width: 70px;
    height: 70px;
}
.feedback_text .owl-wrapper{
    display: flex!important;
}
